.activeStatus{
    color: rgb(8, 255, 0 );
}
.inactiveStatus{
    color: rgb(255, 0, 0 );
}

.backgroundItem{
    background-color: rgb(230, 255, 238);
}

.backgroundUpper{
    background-color: rgb(255, 255, 255);
}

.backgroundBottom{
    background-color: rgb(255, 255, 255);

}

.imageBottomStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.overflowList{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}