.activeStatus{
    color: rgb(8, 255, 0 );
}
.inactiveStatus{
    color: rgb(255, 0, 0 );
}


.cardSize{
    height: 290px !important;
    width: 350px !important;
}

.backgroundItem{
    background-color: rgb(230, 255, 238) !important;
}

.backgroundUpper{
    background-color: rgb(255, 255, 255);
}

.backgroundBottom{
    background-color: rgb(255, 255, 255);

}

.imageSize{
    width: 110px;
}

.imageBottomStyle{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.overflowList{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.bottomStyle{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}